{% extends "PicBundle::layout.html.twig" %}
{% block content %}
    <div class="upload-title">
        <h2>{{post.title}}</h2>
        {% if post.description is defined %}
            <p>{{post.description}}</p>
        {% else %}
            <p>Soy un soso y no pongo descripción a mis fotos</p>
        {% endif %}
    </div>
    <section class="detail-main">
        <img src="{{asset('uploads/'~post.image)}}" alt="" class="detail-photo">
        <aside class="detail-info">
            <header class="detail-info--header">
                <i class="fa fa-info"></i>
                Detalles
            </header>
            <div class="detail-info--item">

                <div class="row center-v space-bet-h">
                    <div class="">
                        <i class="fa fa-user"></i>
                        {{post.author.name}}
                    </div>
                    <div class="btn btn-follow">
                      <i class="fa fa-user-plus"></i>Seguir</div>
                </div>

            </div>
            <div class="detail-info--item">
                <i class="fa fa-calendar"></i>
                {{post.insertedDate|date("m/d/Y")}}
            </div>
            <div class="detail-info--item">
                <i class="fa fa-star-o"></i>
                Valoración
                <div class="detail-info--rating">
                    <input type="radio" name="star1" id="star1" value="" class="hidden radio-star">
                    <input type="radio" name="star2" id="star2" value="" class="hidden radio-star">
                    <input type="radio" name="star3" id="star3" value="" class="hidden radio-star">
                    <input type="radio" name="star4" id="star4" value="" class="hidden radio-star">
                    <input type="radio" name="star5" id="star5" value="" class="hidden radio-star">
                    <label for="star1" class="rating-star">
                        <i class="fa fa-star-o"></i>
                    </label>
                    <label for="star2" class="rating-star">
                        <i class="fa fa-star-o"></i>
                    </label>
                    <label for="star3" class="rating-star">
                        <i class="fa fa-star-o"></i>
                    </label>
                    <label for="star4" class="rating-star">
                        <i class="fa fa-star-o"></i>
                    </label>
                    <label for="star5" class="rating-star">
                        <i class="fa fa-star-o"></i>
                    </label>
                      {% if app.user != null %}
                      <input type="hidden" value={{app.user.id}} id="hiddenUser">
                      {% endif %}
                </div>
            </div>

            <div class="detail-divider"></div>
            <h5>
                <i class="fa fa-tags"></i>
                Etiquetas</h5>
            <ul class="detail-info--tags" id="tagList">
              <input type="hidden" value={{post.id}} id="hiddenId">
                {% if app.user != null and app.user.id == post.author.id %}

                    <input type="text" name="" value="" id="tagInput" class="tag-input" placeholder="Añadir un nuevo tag">


                {% endif %}
                {% for tag in tags %}
                    <li class="tag" data-tag="{{tag.id}}">
                        <a href="">{{tag.name}}</a>
                        {% if app.user != null and app.user.id == post.author.id %}
                            <span class="tag-remove">&times;</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </aside>
    </section>
    <section class="detail-comments">
        <header class="detail-comments--header">
            <h5>
                <i class="fa fa-commenting-o"></i>Nuevo comentario</h5>

        </header>
        {% if app.user != null %}
            <form action="" class="detail-comments-new column">
                <p>Añadir nuevo comentario</p>
                <input type="text" name="title" value="" placeholder="Introduce el asunto del comentario" id="commentTitle" class="comment-input">
                <textarea name="comment" id="commentContent" cols="30" rows="10" placeholder="Introduce el contenido del comentario"></textarea>
                <input type="submit" name="" value="Añadir comentario" id="commentSubmit" class="comment-submit">
            </form>
        {% endif %}
        <header class="detail-comments--header">
            <h5>
                <i class="fa fa-comments-o"></i>Comentarios antiguos</h5>
                <span>#{{comments|length}}</span>
        </header>
        <ul class="comments-list" id="commentList">
        {% for com in comments %}
          <li class="comment row">
            <img src="{{asset('bundles/images/default_user.png')}}" height="64px" width="64px" />
            <div class="column comment-info">
              <div class="comment-info-header row">
                <a href="#">{{com.user.name}}</a>
                <h5 class="comment-title">{{com.title}}</h5>
              </div>
              <p>{{com.content}}</p>
              <p class="comment-date">{{com.insertedDate|date("m/d/Y")}}</p>
            </div>

          </li>
        {% endfor %}
        </ul>
        <ul class="detail-comments-list"></ul>
    </section>
{% endblock %}
