{% extends "PicBundle::layout.html.twig" %}
{% block content %}
    <div class="upload-title">
        <h2>{{post.title}}</h2>
        {% if post.description is defined %}
            <p>{{post.description}}</p>
        {% else %}
            <p>Soy un soso y no pongo descripción a mis fotos</p>
        {% endif %}
    </div>
    <section class="detail-main">
        <img src="{{asset('uploads/'~post.image)}}" alt="" class="detail-photo">
        <aside class="detail-info">
            <header class="detail-info--header">
              <i class="fa fa-info"></i>
                Detalles
            </header>
            <div class="detail-info--item">
                <i class="fa fa-user"></i>
                {{post.author.name}}
            </div>
            <div class="detail-info--item">
                <i class="fa fa-calendar"></i>
                {{post.insertedDate|date("m/d/Y")}}
            </div>

            <div class="detail-divider"></div>
            <h5>
              <i class="fa fa-tags"></i>
              Etiquetas</h5>
            <ul class="detail-info--tags" id="tagList">
              {% if app.user != null and app.user.id == post.author.id %}
                <form class="" action="index.html" method="post">
                  <input type="text" name="" value="" id="tagInput">
                  <input type="hidden" value={{post.id}} id="hiddenId">
                </form>
                {% endif %}
                {% for tag in tags %}
                  <li class="tag"><a href="">{{tag}}</a>
                  {% if app.user != null and app.user.id == post.author.id %}
                    <span class="tag-remove">&times;</span>
                  {% endif %}
                </li>
                {% endfor %}
            </ul>
        </aside>
    </section>
    <section class="detail-comments">
      <header class="detail-comments--header">
        <h5><i class="fa fa-comments"></i>Comentarios</h5>
        <span>#XX</span>
      </header>
        {% if app.user != null %}
      <form action="" class="detail-comments-new">
        <textarea name="comment" id="commentContent" cols="30" rows="10"></textarea>
        <input type="submit" name="" value="Añadir comentario">
      </form>
       {% endif %}
      <ul class="detail-comments-list">

      </ul>
    </section>
{% endblock %}
